<head>
    <link rel="stylesheet" href="style.css">
</head>

<nav>
<h2>logo</h2>

<ul>
<a href="/"><li>home</li></a>
<a href="/ourservices"><li>our services</li"></a>
<a href="/contact"><li>contact</li"></a>
</ul>

</nav>